Decided To Go with user 8 since user1 to user 7 lacked timings FileExistsError

Data Preparartions: Preprocessing both gyroscope and accelerometer data to extract relevant features, align them with 

activity labels.

Data Alignment: Ensuring the timestamps in both gyroscope and accelerometer data are sychronized with the activity 

labels provided in Timings.txt file

In [14]:
import pandas as pd


#load gyroscope and accelerometer data into a DataFrame
gyro_data001=pd.read_csv(r"C:\Users\hp\Sports Performance Tracking\Data of Head and Torso movement\data\Training Data\User008\Glass\gyroData.txt",header=None,names=['Timestamp','X','Y','Z'],delimiter=',')
linear_acceldata001=pd.read_csv(r"C:\Users\hp\Sports Performance Tracking\Data of Head and Torso movement\data\Training Data\User008\Glass\linearAccelData.txt",header=None,names=['Timestamp','X','Y','Z'],delimiter=',')

In [16]:
gyro_data001.head()

                 Timestamp         X         Y         Z
0  2017-04-06 16:56:04:545  0.036219 -0.209857  0.143811
1  2017-04-06 16:56:04:733  0.061785 -0.060720 -0.252468
2  2017-04-06 16:56:04:933  0.284426 -0.239684 -0.180030
3  2017-04-06 16:56:05:131 -0.423975 -0.559264 -0.279099
4  2017-04-06 16:56:05:323 -0.166181 -0.491087 -0.144876

In [17]:
linear_acceldata001.head()

                 Timestamp         X         Y         Z
0  2017-04-06 16:56:04:787 -0.309899 -0.186299 -0.304213
1  2017-04-06 16:56:04:970 -0.459687  0.260220 -0.431704
2  2017-04-06 16:56:05:171  0.122703 -0.330998 -0.053570
3  2017-04-06 16:56:05:356 -0.604835 -0.240917 -0.300472
4  2017-04-06 16:56:05:553  0.038008  0.124648  0.213234

In [18]:
gyro_data001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919 entries, 0 to 918
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  919 non-null    object
 1   X          919 non-null    float64
 2   Y          919 non-null    float64
 3   Z          919 non-null    float64
dtypes: float64(3), object(1)
memory usage: 28.8+ KB

In [19]:
linear_acceldata001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  918 non-null    object
 1   X          918 non-null    float64
 2   Y          918 non-null    float64
 3   Z          918 non-null    float64
dtypes: float64(3), object(1)
memory usage: 28.8+ KB

In [20]:
gyro_data001.describe()

                X           Y           Z
count  919.000000  919.000000  919.000000
mean     0.003885   -0.013647   -0.027241
std      0.382262    0.675836    0.333230
min     -6.264820  -11.238540   -3.553722
25%     -0.101733   -0.191748   -0.108657
50%      0.008522    0.000000   -0.023436
75%      0.125169    0.234358    0.059655
max      3.139334    3.430152    5.202752

In [21]:
linear_acceldata001.describe()

                X           Y           Z
count  918.000000  918.000000  918.000000
mean     0.055156   -0.155192    0.036182
std      1.320921    1.750712    0.930414
min    -24.284088  -12.350939   -9.732430
25%     -0.363619   -0.941632   -0.328193
50%      0.062773   -0.141557    0.022670
75%      0.427066    0.426692    0.407014
max     16.802507    6.855048    8.903138

In [31]:
import datetime

#load timing information from 'Timing.txt' file
## Create an empty list to store timing information
timings=[]

# Read timing information from "Timings.txt"
with open (r"C:\Users\hp\Sports Performance Tracking\Data of Head and Torso movement\data\Training Data\User008\timings.txt") as file:
    for line in file:
        parts=line.strip().split(":")
        activity, interval = parts[0], parts[1].split(" - ")
        #timings.append((activity, interval[0], interval[1]))
        
# Convert gyroscope and accelerometer timestamps to datetime objects
gyro_data001["Timestamp"] = pd.to_datetime(gyro_data001["Timestamp"])
linear_acceldata001["Timestamp"] = pd.to_datetime(linear_acceldata001["Timestamp"])

ParserError: Unknown string format: 2017-04-06 16:56:04:545 present at position 0