Developing a machine learning model that can track and analyze football performance using sensor data.

Data Preparartions and Integration

In [131]:
import pandas as pd


#load gyroscope and accelerometer data into a DataFrame
gyro_data001=pd.read_csv(r"C:\Users\hp\Sports Performance Tracking\Data of Head and Torso movement\data\Training Data\User008\Glass\gyroData.txt",header=None,names=['Timestamp','X','Y','Z'],delimiter=',',parse_dates=['Timestamp'])
linear_acceldata001=pd.read_csv(r"C:\Users\hp\Sports Performance Tracking\Data of Head and Torso movement\data\Training Data\User008\Glass\linearAccelData.txt",header=None,names=['Timestamp','X','Y','Z'],delimiter=',')

In [132]:
gyro_data001.head()

                 Timestamp         X         Y         Z
0  2017-04-06 16:56:04:545  0.036219 -0.209857  0.143811
1  2017-04-06 16:56:04:733  0.061785 -0.060720 -0.252468
2  2017-04-06 16:56:04:933  0.284426 -0.239684 -0.180030
3  2017-04-06 16:56:05:131 -0.423975 -0.559264 -0.279099
4  2017-04-06 16:56:05:323 -0.166181 -0.491087 -0.144876

In [133]:
gyro_data001.columns

Index(['Timestamp', 'X', 'Y', 'Z'], dtype='object')

In [134]:
linear_acceldata001.head()

                 Timestamp         X         Y         Z
0  2017-04-06 16:56:04:787 -0.309899 -0.186299 -0.304213
1  2017-04-06 16:56:04:970 -0.459687  0.260220 -0.431704
2  2017-04-06 16:56:05:171  0.122703 -0.330998 -0.053570
3  2017-04-06 16:56:05:356 -0.604835 -0.240917 -0.300472
4  2017-04-06 16:56:05:553  0.038008  0.124648  0.213234

In [135]:
gyro_data001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919 entries, 0 to 918
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  919 non-null    object
 1   X          919 non-null    float64
 2   Y          919 non-null    float64
 3   Z          919 non-null    float64
dtypes: float64(3), object(1)
memory usage: 28.8+ KB

In [136]:
linear_acceldata001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  918 non-null    object
 1   X          918 non-null    float64
 2   Y          918 non-null    float64
 3   Z          918 non-null    float64
dtypes: float64(3), object(1)
memory usage: 28.8+ KB

In [137]:
gyro_data001.describe()

                X           Y           Z
count  919.000000  919.000000  919.000000
mean     0.003885   -0.013647   -0.027241
std      0.382262    0.675836    0.333230
min     -6.264820  -11.238540   -3.553722
25%     -0.101733   -0.191748   -0.108657
50%      0.008522    0.000000   -0.023436
75%      0.125169    0.234358    0.059655
max      3.139334    3.430152    5.202752

In [138]:
linear_acceldata001.describe()

                X           Y           Z
count  918.000000  918.000000  918.000000
mean     0.055156   -0.155192    0.036182
std      1.320921    1.750712    0.930414
min    -24.284088  -12.350939   -9.732430
25%     -0.363619   -0.941632   -0.328193
50%      0.062773   -0.141557    0.022670
75%      0.427066    0.426692    0.407014
max     16.802507    6.855048    8.903138

Load and Process the Timing Data

In [139]:
gyro_data001

                   Timestamp         X         Y         Z
0    2017-04-06 16:56:04:545  0.036219 -0.209857  0.143811
1    2017-04-06 16:56:04:733  0.061785 -0.060720 -0.252468
2    2017-04-06 16:56:04:933  0.284426 -0.239684 -0.180030
3    2017-04-06 16:56:05:131 -0.423975 -0.559264 -0.279099
4    2017-04-06 16:56:05:323 -0.166181 -0.491087 -0.144876
..                       ...       ...       ...       ...
914  2017-04-06 16:59:07:070  0.152333 -0.615723 -0.355798
915  2017-04-06 16:59:07:268 -0.410127  0.171508 -0.338754
916  2017-04-06 16:59:07:459 -0.741424  0.864995  0.768056
917  2017-04-06 16:59:07:811  0.392017 -1.178182  1.071656
918  2017-04-06 16:59:07:866  0.192813  0.917193  0.001065

[919 rows x 4 columns]

In [140]:
gyro_data001['Timestamp']

0      2017-04-06 16:56:04:545
1      2017-04-06 16:56:04:733
2      2017-04-06 16:56:04:933
3      2017-04-06 16:56:05:131
4      2017-04-06 16:56:05:323
                ...
914    2017-04-06 16:59:07:070
915    2017-04-06 16:59:07:268
916    2017-04-06 16:59:07:459
917    2017-04-06 16:59:07:811
918    2017-04-06 16:59:07:866
Name: Timestamp, Length: 919, dtype: object

In [141]:
gyro_data001['Timestamp'] = pd.to_datetime(gyro_data001['Timestamp'], format='%Y-%m-%d %H:%M:%S:%f')
gyro_data001['Date']=gyro_data001['Timestamp'].dt.date
gyro_data001['Time']=gyro_data001['Timestamp'].dt.time
gyro_data001

,Timestamp,X,Y,Z,Date,Time
0,2017-04-06 16:56:04.545,0.036219,-0.209857,0.143811,2017-04-06,16:56:04.545000
1,2017-04-06 16:56:04.733,0.061785,-0.060720,-0.252468,2017-04-06,16:56:04.733000
2,2017-04-06 16:56:04.933,0.284426,-0.239684,-0.180030,2017-04-06,16:56:04.933000
3,2017-04-06 16:56:05.131,-0.423975,-0.559264,-0.279099,2017-04-06,16:56:05.131000
4,2017-04-06 16:56:05.323,-0.166181,-0.491087,-0.144876,2017-04-06,16:56:05.323000
...,...,...,...,...,...,...
914,2017-04-06 16:59:07.070,0.152333,-0.615723,-0.355798,2017-04-06,16:59:07.070000
915,2017-04-06 16:59:07.268,-0.410127,0.171508,-0.338754,2017-04-06,16:59:07.268000
916,2017-04-06 16:59:07.459,-0.741424,0.864995,0.768056,2017-04-06,16:59:07.459000
917,2017-04-06 16:59:07.811,0.392017,-1.178182,1.071656,2017-04-06,16:59:07.811000
918,2017-04-06 16:59:07.866,0.192813,0.917193,0.001065,2017-04-06,16:59:07.866000

In [142]:
del gyro_data001['Timestamp']
gyro_data001

            X         Y         Z        Date             Time
0    0.036219 -0.209857  0.143811  2017-04-06  16:56:04.545000
1    0.061785 -0.060720 -0.252468  2017-04-06  16:56:04.733000
2    0.284426 -0.239684 -0.180030  2017-04-06  16:56:04.933000
3   -0.423975 -0.559264 -0.279099  2017-04-06  16:56:05.131000
4   -0.166181 -0.491087 -0.144876  2017-04-06  16:56:05.323000
..        ...       ...       ...         ...              ...
914  0.152333 -0.615723 -0.355798  2017-04-06  16:59:07.070000
915 -0.410127  0.171508 -0.338754  2017-04-06  16:59:07.268000
916 -0.741424  0.864995  0.768056  2017-04-06  16:59:07.459000
917  0.392017 -1.178182  1.071656  2017-04-06  16:59:07.811000
918  0.192813  0.917193  0.001065  2017-04-06  16:59:07.866000

[919 rows x 5 columns]

In [143]:
timings_data=pd.read_csv(r"C:\Users\hp\Sports Performance Tracking\Data of Head and Torso movement\data\Training Data\User008\Timings.txt")
timings_data

   00:00:00 - 00:00:00
0  00:09:15 - 00:11:95
1  00:42:10 - 00:45:31
2  00:46:84 - 01:07:03
3  01:13:67 - 01:33:79
4  01:35:63 - 01:37:46
5  02:03:02 - 02:03:02

Contains the start and end timestamps for each of my soccer activity.

In [144]:
timings_data

   00:00:00 - 00:00:00
0  00:09:15 - 00:11:95
1  00:42:10 - 00:45:31
2  00:46:84 - 01:07:03
3  01:13:67 - 01:33:79
4  01:35:63 - 01:37:46
5  02:03:02 - 02:03:02

In [145]:
timings_data.columns

Index(['00:00:00 - 00:00:00'], dtype='object')

Convert timestmap from timings.txt into a format that can easily be compared with sensor data timestamp

In [146]:
#Create an empty DataFrame to store converted timings 
converted_timings_df=pd.DataFrame(columns=['Converted_Timestamp'])
print(converted_timings)

[]

In [147]:
#Define a common date
common_date= "2017-04-06"

In [148]:
#Parse and convert the timings 
for timing in timings_data:
    start_time_str, end_time_str = timing.split(" - ")

In [149]:
#Add common date to timings
start_time_str = common_date + " " + start_time_str
end_time_str = common_date + " " + end_time_str
print(start_time_str)

2017-04-06 00:00:00

In [150]:
# Convert to datetime objects
start_time = datetime.datetime.strptime(start_time_str, "%Y-%m-%d %H:%M:%S")
end_time = datetime.datetime.strptime(end_time_str, "%Y-%m-%d %H:%M:%S")
print(start_time)

2017-04-06 00:00:00

In [151]:
# Append the converted timestamps to the DataFrame
converted_timings_df = converted_timings_df.append({"Converted_Timestamp": start_time}, ignore_index=True)
converted_timings_df = converted_timings_df.append({"Converted_Timestamp": end_time}, ignore_index=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_3612\3903777790.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  converted_timings_df = converted_timings_df.append({"Converted_Timestamp": start_time}, ignore_index=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_3612\3903777790.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  converted_timings_df = converted_timings_df.append({"Converted_Timestamp": end_time}, ignore_index=True)

In [152]:
# Sort the DataFrame by timestamps
converted_timings_df = converted_timings_df.sort_values(by="Converted_Timestamp")

In [153]:
# Reset the index of the DataFrame
converted_timings_df = converted_timings_df.reset_index(drop=True)
print(converted_timings_df)

  Converted_Timestamp
0          2017-04-06
1          2017-04-06

In [154]:
timing_data=[]
for line in timings_data:
    start_time, end_time = line.strip().split("-")
    timing_data.append((pd.to_datetime(start_time),pd.to_datetime(end_time)))

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-01-01 00:00:00 present at position 0

In [ ]:
# Convert and format the timestamps
formatted_timings=[]
for timing in timings_data:
    start_time_str, end_time_str = timing.split("-")
    
    # Pad the seconds with ".000" to match the datetime format
    start_time_str = start_time_str.replace(":", ".")
    end_time_str = end_time_str.replace(":", ".")
    
    
    formatted_start_time= f"1970-01-01 {start_time_str}"
    formatted_end_time = f"1970-01-01 {end_time_str}"

    formatted_timings.append((formatted_start_time, formatted_end_time))

In [ ]:
formatted_timings

[('1970-01-01 00.00.00 ', '1970-01-01  00.00.00')]

In [ ]:
import datetime

#load timing information from 'Timing.txt' file
## Create an empty list to store timing information
timings=[]

# Read timing information from "Timings.txt"
with open (r"C:\Users\hp\Sports Performance Tracking\Data of Head and Torso movement\data\Training Data\User008\Timings ref HTC.txt") as file:
    for line in file:
        parts=line.strip().split(":")
        activity, interval = parts[0], parts[1].split(" - ")
        timings.append((activity, interval[0], interval[1]))
        
# Convert gyroscope and accelerometer timestamps to datetime objects
#gyro_data001["Timestamp"] = pd.to_datetime(gyro_data001["Timestamp"])
#linear_acceldata001["Timestamp"] = pd.to_datetime(linear_acceldata001["Timestamp"])

IndexError: list index out of range